<header class="header">
        <h1 class="navbar__title">
            Jeferson Alexis Duque Ocampo
            <span class="navbar__subtitle">Solo motos</span>
        </h1>
    
        <div class="navbar-container">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
                    <li class="navbar__item"><a href="client.html" class="navbar__link">Clientes</a></li>
                    <li class="navbar__item"><a href="about.html" class="navbar__link">Sobre mi</a></li>
                    <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>